@layer base {
  html,
  body,
  #root {
    height: 100%;
    margin: 0;
    background-color: var(--color-surface-canvas);
    color: var(--color-text-strong);
    font-family: var(--font-family-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  * {
    box-sizing: border-box;
  }
}
